
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="input-group">
			<span class="input-group-btn">
				<a href="#/add" class="btn btn-primary">Novo</a>
			</span>
			<form>
				<input class="form-control" type="text" ng-model="filtro" ng-model-options="{ debounce: 500 }" placeholder="Filtrar" />
			</form>
		</div>
	</div>
</div>


<div class="row">
	<my-panel class="col-md-2 col-sm-3 col-xs-4 fading" ng-repeat="user in data | filter : filtro" title="{{ user.name }}">
		<p>Detalhes do Usuário {{user.id}} {{ user.name }}</p>
	</my-panel>
</div>